.heading{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.para-one{
    font-size: 1.3rem;
    text-align: center;
    font-family: 'cambria';
}
img{
    width: 60vh;
    margin-left: 20rem;
}
.box-a{
    border: 3px solid #1fa7f4;
    background-color: #1fa7f4;
    width: 200px;
    height: 200px;
}
.box-b{
    border: 3px solid green;
    background-color: green;
    width: 200px;
    height: 200px;
}
.box-c{
    border: 3px solid #ba31ea;
    background-color: #ba31ea;
    width: 200px;
    height: 200px;
}
.box-d{
    border: 3px solid #1fa7f4;
    width: 200px;
    height: 200px;
}
.box-e{
    border: 3px solid green;
    width: 200px;
    height: 200px;
}
.box-f{
    border: 3px solid  #ba31ea;
    width: 200px;
    height: 200px;
}
.box1,.box2{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
}
.rect1,.rect2{
    display: flex;
    justify-content: space-evenly;
}
.para{
    padding: 1rem;
    width: 20rem;
    border: 3px solid #1fa7f4;
    text-align: center;
    font-size: 20px;
}

.foot{
    margin: 20px 0;
    font-size: 40px;
    font-family: sans-serif;
    width: 40px;
    padding: 15px 15px 15px 20px;
    background-color: #1fa7f4;
    border-radius: 50px;
    margin-left: auto;  
    margin-right: 10rem;
}

