@media screen and (max-width:768px){
    .heading{
        text-align: center;
        margin-left: 13rem;
    }
    .para-one{
        width: 35rem;
        margin-left: 6rem;
        font-size: 1.1rem;
        text-align: center;
        font-family: 'cambria';
    }
    img{
        width: 60vh;
        margin-left: 14rem;
    }
    .box-a,.box-b,.box-c,.box-d,.box-e,.box-f{
        width: 150px;
        height: 150px;
    }
    .box1,.box2{
        width: 45rem;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
    }
    .rect1{
        width: 40rem;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
    .para{
        padding: 1rem;
        width: 14rem;
    }
    .foot{
        font-size: 30px;
        width: 30px;
        margin-left: 55rem;
    }
}
@media screen and (max-width:1024px){
    .para-one{
        width: 38rem;
        margin-left: 12rem;
        font-size: 1.1rem;
    }
    img{
        width: 60vh;
        margin-left: 21rem;
    }
    .box-a,.box-b,.box-c,.box-d,.box-e,.box-f{
        width: 180px;
        height: 180px;
    }
    .box1,.box2{
        width: 45rem;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 2rem 2rem 2rem 10rem;
    }
    .rect1{
        width: 60rem;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 2rem 2rem 1rem 2rem;
    }
    .para{
        padding: 1rem;
        width: 14rem;
    }
    .foot{
        font-size: 30px;
        width: 30px; 
        margin-right:3rem;
    }
}