@media screen and (max-width:768px){
    .heading{
        margin-left: 230px;
    }
    .para-one{
        font-size: 1.3rem;
    }
    .rect1{
        margin-left: 0;
    }
    .foot{
        margin-left: 54rem;
    }
} 
@media screen and (max-width:1024px){
    .para-one{
        width: 38rem;
        margin-left: 12rem;
        font-size: 1.1rem;
    }
    img{
        width: 60vh;
        margin-left: 21rem;
    }
    .box-a,.box-b,.box-c,.box-d,.box-e,.box-f{
        width: 150px;
        height: 150px;
    }
    .box1,.box2{
        width: 45rem;
        display: flex;
        margin: 2rem 2rem 2rem 9rem;
    }
    .rect1{
        width: 60rem;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 2rem 2rem 1rem 2rem;
    }
    .para{
        padding: 1rem;
        width: 14rem;
    }
    .foot{
        font-size: 30px;
        width: 30px; 
        margin-left: 55rem; 
    }

}